    body{
        font-family: arial, sans-serif;
        margin: 0;
        padding: 0;
        line-height: 1.6;
        background-color: rgb(253, 253, 254);
    }

    header{
        background: #908d8a;
        color: rgb(0, 4, 6);
        padding: 20px;
        text-align: center;
        min-height: 100px;
        display: flex;
    }

    nav{
        background-color: white;
       margin-left: auto;
       height: 60px;
    }

    nav ul{
        list-style: none;
        margin: 0;
        padding: 10px;
        display: flex;
        justify-content: center;
        }

    nav ul li{
        position: relative;
        margin: 0 15px;
        }

    nav ul li a{
        color: #53504e;
        text-decoration: none;
        font-weight: bold;
        padding: 8px 12px;
        display: block;
        }

   nav ul li a:hover {
        background: #696765;
        border-radius: 5px;
        } 

    nav ul li ul{
        display: none;
        position: absolute;
        top: 35px;
        left: 0;
        background: #6d6c6a;
        list-style: none;
        padding: 0;
        margin: 0;
         border-radius: 5px;
        } 

      nav ul li ul li{
        margin: 0;
        width: 150px;
        }

    nav ul li ul li a{
        padding: 10px;
        font-weight: normal;
        }

    nav ul li:hover ul{
        display: block;
        }
    .banner {
        background-image: url(fotostyle/COF.jpeg);
        color: rgb(41, 86, 4);
        padding: 0px;
        text-align: center;
        display: flex;
        align-items: center;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 400px;
        margin: 20px 40px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.2); 
    }
    .tulisan{
            color: rgb(0, 12, 12);
            padding-top: 40px;
            font-size: 40px;
            justify-content: center;
            align-items: center;
            text-align: center; 
            font-weight: bold;
            margin: 0 auto;
            text-shadow: #53504e 2px 2px 10px; 
            animation: Efek 4s ease;
            transform: translate(Y);
            position: relative;
        } 
        .tulisan:hover{
                color: #0066cc;
                cursor: pointer;
        }
        @keyframes Efek {
            0%{
                    bottom: -100px;
                    opacity: 0;
                }
                100%{
                    bottom: 0;
                    opacity:1;
                }
        }
    #title{
        text-align: center;
        font-size: 36px;
        margin-bottom: 20px;
        padding-top: 5px;
    }
    .guru{
        display: flex;
    }
    .staff h2{
        text-align: center;
        font-size: 36px;
        margin-bottom: 20px;
    }
    .staff{
        padding: 0px;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 20px;
    }
    .card{
        padding: 20px;
        background: #dbd9d8;
        margin: 20px auto;
        transition: transform 0.2s ease, box-shadow 0.2s ease;
        box-shadow: 10px 10px rgb(84, 84, 84);
        border-radius: 10px;
        border: 5px solid black;
        color: aliceblue;
    }
    .card:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}
    .card img{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        display: block;
        margin: 0 auto 10px;
    }
    
    .href{
        color: white;
    }
    .card h3{
        text-align: center;
        margin: 10px 0 5px;
    }
    .card p{
        text-align: center;
        margin: 0;
        font-size: 14px;
        line-height: 1.7;
    }
    .card span{
        font-weight: bold;
    }
    .artikel2::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
    z-index: 1;
}


/* Bg beda tiap guru */
.Mondo 
   { background: url("fotostyle/Mondstadt.jpeg") center/cover no-repeat; }
.Fontaine 
    { background: url("fotostyle/rf.jpeg") center/cover no-repeat; }
.nod-krai
    { background: url("fotostyle/Nod-Krai.jpeg") center/cover no-repeat; }
.Sumeru
    { background: url("fotostyle/sumeru.jpeg") center/cover no-repeat; }
.Liyue
    { background: url("fotostyle/liyue.jpeg") center/cover no-repeat; }
.artikel2 * {
    position: relative;
    z-index: 2;
}
   footer {
  background: #757372;
  color: #fff;
  text-align: center;
  padding: 15px;
  margin-top: 20px;
}